@model LoginRegisterViewModel

@section title {
<title>Login</title>
}
@section scripts {
<script src="~/js/login/index.js" async></script>
}
@section styles {
<link rel="stylesheet" href="~/css/login/index.css" />
}

@section body {
<table>
    <tr>
        <td colspan="2">
            <div id="message" class="container">
                @if (Model.Message)
                {
                    <label>Ooops... Something went wrong.Please retype.</label>
                }
            </div>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <div id="login" class="container">
                <form method="post" asp-controller="Login" asp-action="Login">
                    <div>
                        <label for="logEmail">Email</label><br />
                        <input id="logEmail" name="LoginEmail" type="text" required minlength="5" />
                    </div>
                    <div>
                        <label for="logPass">Password</label><br />
                        <input id="logPass" name="LoginPassword" type="password" required minlength="6" maxlength="6" />
                    </div>
                    <div>
                        <input type="checkbox" id="logRemember" name="LoginRememberMe" title="Remeber me" />
                        <label for="logRemember">Remember me</label>
                    </div>
                    <div>
                        <button id="submitLog">Sign in</button>
                    </div>
                </form>
            </div>
        </td>
        <td>
            <div id="register" class="container">
                <form method="post" asp-controller="Login" asp-action="Register">
                    <div id="emailCheck">
                        <label>Email is incorrect</label>
                    </div>
                    <div>
                        <label for="regEmail">Email</label><br />
                        <input id="regEmail" name="RegisterEmail" type="text" required minlength="5" />
                    </div>
                    <div id="select">
                        <label>Please select company and position</label>
                    </div>
                    <div>
                        <label for="Company">Company</label><br />
                        <select name="CompanyId" id="Company" required>
                            <option selected="selected" disabled value=""></option>
                            @foreach (var i in @Model.RegisterCompany)
                            {
                                <option value="@i.Id">@i.Name</option>
                            }
                        </select>
                    </div>
                    <div>
                        <label for="Post">Position</label><br />
                        <select name="PostId" id="Post" required>
                            <option selected="selected" disabled value=""></option>
                            @foreach (var i in @Model.RegisterPost)
                            {
                                <option value="@i.Id">@i.Name</option>
                            }
                        </select>
                    </div>
                    <div id="passMatch">
                        <label>Passwords don`t match</label><br />
                    </div>
                    <div id="passEmpty">
                        <label>Please, enter data in the another field</label>
                    </div>
                    <div>
                        <label for="regPass">Password</label><br />
                        <input id="regPass" name="RegisterPassword" type="password" pattern="[A-Za-z0-9]{6}"
                            title="A lowercase, uppercase letter, number - total 6 characters" required minlength="6"
                            maxlength="6" />
                    </div>
                    <div>
                        <label for="regPassConf">Password confirm</label><br />
                        <input id="regPassConf" name="RegisterPasswordConfirm" type="password" pattern="[A-Za-z0-9]{6}"
                            title="A lowercase, uppercase letter, number - total 6 characters" required minlength="6"
                            maxlength="6" />
                    </div>
                    <div>
                        <button id="submitReg">Sign up</button>
                    </div>
                </form>
            </div>
        </td>
    </tr>
</table>
}